body {
  font-family: 'Montserrat', sans-serif;
  color: #484848;
  line-height: 1.65;
}
.header {
  max-width: 1500px;
  padding: 27px 20px;
  margin: 0 auto;
  background-color: rgba(249,134,51,.1);
}
.header_logo img {
  width: 190px;
}
.header_nav_menu li {
  display: inline-block;
  margin: 0 40px 0 0;
position: relative;
}
.header_nav_menu li a {
font-size: 16px;
padding: 3px 3px 28px;
font-weight: 700;
line-height: 16px;
color: #484848;
opacity: .6;
display: flex;
align-items: center;
transition: box-shadow .2s ease-in-out;
}
.header_nav_menu li a:hover {
  color: #ff7f00;
opacity: 1;
box-shadow: inset 0 -4px 0 0 #ff7f00;
}
.header_nav_menu {
  flex-direction: inherit;
}
.container {
  width: 1220px !important;
max-width: 1624px !important;
padding: 0 20px !important;
}
.sub-title .color-accent {
  display: block;
  border: 3px solid #f98633;
  width: 12px;
  height: 12px;
  margin-right: 13px;
  border-radius: 50%;
}
.sub-title {
  display: flex;
  align-items: center;
  font-weight: 400;
color: #484848;
font-size: 14px;
}
.block_title {
  font-size: 44px;
margin: 15px 0 0;
margin-bottom: 30px;
line-height: 1.25;
font-weight: 400;
color: #484848;
}
.footer_form .form-label, .request_qoute label {
  font-size: 14px;
  color: #484848;
  margin-bottom: 2px;
}
.footer_form .form-control, .request_qoute input.forminput, .request_qoute textarea {
  border: 1px solid #d3d3d3;
  background: #f3f3f3;
  border-radius: 8px;
  padding: 15px;
  transition: .1s;
  font-size: 16px;
  color: #484848;
}
.request_qoute input.forminput, .request_qoute textarea {
background: transparent;
border-radius: .25rem;border-color: #ced4da;
}
.request_qoute select {
  color: #9b9b9b;outline: none !important;
box-shadow: none !important;border-color: #ced4da !important;
}
.footer_form input.form-control {
  height: 46px;
}
.form-check-label {
  font-size: 14px;
}
.form-check-label a {
  color: #f98633;
  text-decoration: underline;
}
.submite_form {
  width: 100%;
  border: none;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  background: #f98633;
  transition: .1s;
  color: #fff;
  height: 64px;
  padding: 0 20px;
  border-radius: 10px;
  font-weight: 700;
  text-align: left;
  display: flex;
align-items: center;
justify-content: space-between;
}
.footer_nav {
  list-style: none;
  padding: 0;
}
.footer_nav li a {
  color: #484848;
font-size: 14px;
transition: .2s;
text-decoration: none;
line-height: 28px;opacity: .7;
}
.footer_nav li a:hover {
  color: #f98633;
}
.footer_nav li {
  margin-bottom: 8px;
}
.contact-item h3 {
  color: #000;
  font-size: 23px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1;
}
.social_icon li a {
  width: 32px;
height: 32px;
margin-right: 0;
background: rgba(249,134,51,.2);
border-radius: 9px;
transition: .2s;display: flex;align-items: center;justify-content: center;opacity: 1;
}
.social_icon li {
  margin-right: 10px;
}
.social_icon li a:hover {
  box-shadow: 0 3px 4px rgba(0,0,0,.3);
}
.contact-item {
  margin-bottom: 30px;
}
.footer-inner p {
  color: #484848;
font-size: 14px;
}
footer {
  padding: 30px 15px;
}
.banner {
  background-color: rgba(249,134,51,.1);
padding-top: 55px;
padding-bottom: 40px;
}
.banner h1 {
  font-size: 70px;
line-height: 1;
margin-bottom: 60px;
font-weight: 700;
color: #000;
}
.banner h3 {
  color: #f98633;
font-size: 44px;
line-height: 1;
margin-bottom: 36px;
font-weight: bold;
}
.banner p {
  margin-bottom: 60px;
font-weight: bold;
padding-right: 55px;
}
.btn_all {
  color: #fff;
min-width: 183px;
height: 64px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
padding: 0 20px;
-webkit-transition: .1s;
-o-transition: .1s;
transition: .1s;
border-radius: 10px;
font-weight: 700;
border: 0;outline: none;
background-color: #FF7F00;
}
.banner .btn_all {
width: 280px;background-color: #FF7F00;
}
.btn_all:hover {
  background-color: #4d0073;
}
.btn_all img {
  max-width: 17px;
opacity: .4;
}
.block-solutions {
  background: rgba(249,134,51,.1);
  position: relative;
}
.py-indent {
  padding: 90px 15px;
}
.turnkey_content {
  padding: 55px 35px;
  background: #fff;
  border-radius: 12px;
  transition: .2s;
  height: 100%;
  padding-bottom: 120px;
position: relative;
}
.turnkey_content:hover {
  box-shadow: 0 4px 4px rgba(0,0,0,.25);
}
.turnkey_content h2 {
  display: flex;
  align-items: center;
  margin-left: 21px;
  font-weight: bold;
  font-size: 18px;
  color: #000;
  line-height: 1;
  margin-bottom: 25px;
}
.turnkey_content h2 span {
  width: 82px;
  height: 82px;
  border-radius: 8px;
  display: flex;
align-items: center;
justify-content: center;
margin-right: 21px;
position: relative;
}
.turnkey_content h2 span::before {
  content: "";
  display: block;
  background: #FF7F00;
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.turnkey_content p {
  line-height: 25px;
color: #484848;margin-bottom: 0;
}
.sec_list li {
  line-height: 34px;
color: #484848;margin-bottom: 0;
}
.sec_list li::marker {
  color: #ff7f00;
}
.turnkey_content .btn_all {
  position: absolute;
  bottom: 56px;
}
.sec_mt {
  margin-top: 60px;
}
.block-why {
  background-color: #f98633;
}
.sub-title.text-white .color-accent {
  border-color: #fff;
}
.sportsbook_icon {
  width: 82px;
  height: 82px;
  background-color: rgba(255,255,255,.1);
  border-radius: 8px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.sportsbook_content h3 {
  font-weight: bold;
  margin: 0 0 15px;
  line-height: 1;
  font-size: 23px;
}
.block-product {
  background: #faf8f5;
  position: relative;
}
.block-product p {
  line-height: 24px;
  margin-bottom: 16px;
}
.product_title {
  color: #000;
font-weight: 700;
line-height: 1;
font-size: 23px;
margin-bottom: 20px;
}
.btn-product {
  width: 106px;
}
.btn-product {
  max-width: 180px;
  text-align: center;
  background: transparent;
  border: 1px solid #d3d3d3;
  border-radius: 8px;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  color: #000;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 18px;
  margin-right: 18px;
  -webkit-transition: .1s;
  -o-transition: .1s;
  transition: .1s;
  text-decoration: none;
}
.product_item, .product_img {
  position: relative;z-index: 1;
}
.product_img::before {
  background: #6e00a3;
border-radius: 100%;
top: 5%;
height: 99% !important;
content: "";
position: absolute;
width: 100%;
left: 0;transition: .5s;
z-index: -1;
}
.product_content {
  position: absolute;
  bottom: -25px;
  background-color: #fff;
  padding-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 12px;
  box-shadow: 5px 10px 50px rgba(0,0,0,.15);
  max-width: 450px;
  left: 80px;
  width: 100%;
  transition: .3s .5s;
  z-index: 1;
}
.product_content h3 {
  font-weight: bold;margin: 0 0 10px;font-size: 16px;
}
.product_content p {
  margin-bottom: 20px;
} 
.product_list li {
  border-right: 3px solid #FFC32A;
margin-right: 15px;
padding-right: 15px;
text-align: center;
font-size: 16px;
line-height: 15px;
list-style: none;
margin-bottom: 10px;
}
.product_list li:last-child {
  border: 0;
  margin: 0;
}
.product_list li strong {
  font-weight: bold;
font-size: 23px;
line-height: 15px;
color: #FFC32A;
display: block;
margin-bottom: 10px;
}
.product_item {
  opacity: 0;transform: scale(0);transition: .6s;
  position: absolute;
left: 0;
top: 0;
}
.product_item.product_item_active {
  opacity: 1;transform: scale(1);
}
.product_img {
  transform: scale(0);
}
.product_item_active .product_img {
  transform: scale(1);
}
.product_content {
opacity: 0;
}
.product_item_active .product_content {
  opacity: 1;
}
.product_item_ucasion .product_img::before {
  background: #ffc32a;
border-radius: 12px;
}
.btn-product:hover {
  background: rgba(110,0,163,.1);
border-color: transparent;
color: #6e00a3;
}
.ucasion_btn .btn-product:hover {
  background: rgba(255,195,42,.1);
color: #ffc32a;
border-color: transparent;
}
.block-product .container {
  padding-bottom: 110px !important;
}
.block-service {
  background: #faf8f5;
  position: relative;
}
.back_office h2 {
  margin-bottom: 15px;
  margin-left: 0;
  font-size: 23px;
}
.back_office {
  padding: 36px;position: relative;
}
.block-service .col-lg-3 {
  margin-bottom: 18px;
}
.back_office::before {
  content: "";
  display: block;
  position: absolute;
  height: 100px;
  width: 3px;
  background: #f98633;
  top: 50%;
  left: 0; border-radius: 0 2px 2px 0;transform: translateY(-50%);
}
.block-service .container {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 60px !important;
}
.block-potential p {
  line-height: 25px;
color: #484848;
margin-bottom: 16px;
}
.block-potential {
  background: #faf8f5;position: relative;
}
.block-potential .block-potential_container {
  background-color: #fff;
max-width: 1750px;
margin: 0 auto;
padding: 90px 0 90px;
border-radius: 12px 12px 0 0;
}
.years_industry li strong {
  font-size: 80px;
  line-height: 102px;
  color: #FF7F00;
}
.years_industry li {
  line-height: 25px;
}
.years_industry li {
  width: 25%;border-color: #FF7F00;
  margin-right: 0;
  padding: 0 15px;
}
.years_industry {
  margin-top: 80px;
}
.block-subscribe {
  background: #6e00a3;
}
.block-subscribe .form-control {
  height: 59px;
  border-radius: 12px;
  background: rgba(255,255,255,.1);
  border: 1px solid rgba(255,227,217,.4);
  -webkit-box-flex: 0;
  width: 340px;
  margin-right: 2%;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
  padding: 0 20px;
  outline: none !important;
  box-shadow: none !important;
}
.block-subscribe .btn_all {
  background: #f98633;
  height: 59px;
}
.block-subscribe input::placeholder {
  color: #fff;opacity: 0.4;
}
footer {
  padding-top: 90px;
}
.mobile_menu {
  display: none;
}
.mobile_menu span {
  background-color: #ffe8d7;
  width: 22px;
  height: 2px;
  display: block;
  margin-bottom: 6px;
  opacity: 1;
  transition: all .4s linear;
}
.mobile_menu {
  background: transparent;
  border: 0;
  box-shadow: none;
  outline: none;
  padding: 0;
  width: auto;overflow: hidden;
  margin-right: 15px;
}
.product_content .btn_all {
  border: 1px solid #d3d3d3;
  color: #000;
  text-decoration: none;
  height: 46px;
  transition: .2s;
  background: transparent;
  display: none;
}
.chat_btn {
  transform: rotate(-90deg) translate(20px);
  background: linear-gradient(95deg, rgb(110, 0, 163) 20%, rgb(110, 0, 163) 80%);
  border: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 34px;
  color: #fff;
  box-shadow: 0 12px 14px 8px rgba(0,0,0,.17);
  height: 40px;
  position: fixed;
  z-index: 9999999;
  right: -88px;
top: 50%;
  font-size: 16px;
  font-weight: 400;
  padding: 6px 15px;

}
.chat_btn i {
  margin-right: 5px;
}
.whatsapp_chat, .btn_chat {
  font-size: 20px;
  color: #fff !important;
  background-color: #57BB63;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  bottom: 10px;
  z-index: 99;
}
.fa.fa-phone-alt::before {
  content: "\f095";
}
.btn_chat {
  position: static;
}
.fix_chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff3ea;
  position: fixed;
  bottom: 0;
  padding: 8px 15px;
box-shadow: 0 -1px 8px 0px rgba(0,0,0,.25);
display: none;
}
.chat_btn_dsk {
  display: flex;align-items: center;
}
.fa.fa-linkedin-in::before {
  content: "\f0e1";
}
.social_icon li a i {
  color: #f98633;
  font-size: 16px;
}
.footer_nav li {
  margin-bottom: 0;
}
.header.sticky {
  position: fixed;
  top: 0;
  z-index: 99999;
  background: #ffe8d7;
  padding: 15px 20px;
  box-shadow: 0 0 4px 4px rgba(0,0,0,.25);
}
.header.sticky .header_nav_menu li a {
  padding-bottom: 3px;
}
.header.sticky .header_nav_menu li a:hover {
  box-shadow: inset 0 -1px 0 0 #ff7f00;
}
.header_top_contact {
  display: flex;
  padding: 0;
  list-style: none;
  float: right;
  margin-bottom: 5px;
}
.header_top_contact li a {
  color: #484848;
font-size: 14px;
transition: .2s;
text-decoration: none;
line-height: 28px;
opacity: .7;text-decoration: none;
margin-right: 18px;
display: flex;
align-items: center;
}
.header_top_contact li a i {
  margin-right: 6px;
}
.header_top_contact li:last-child a, .header_nav_menu li:last-child {
  margin-right: 10px;
}
.header_nav_menu li.request_btn button {
  border: 0;
  padding: 8px 18px;
  border-radius: 30px;
  position: relative;
  background: #ff7f00;color: #fff;
}
.header.sticky .header_nav_menu {
  align-items: center;
}
.request_qoute input.forminput {
  width: 100%;
  padding: 5px 15px;
}
.request_qoute textarea {
  width: 100%;
}
.request_qoute textarea, .request_qoute input.forminput, .request_qoute select:focus {
  outline: none;
}
.request_qoute textarea:focus, .request_qoute input:focus {
  box-shadow: 0 4px 10px 8px rgba(0,0,0,.2);
}
.request_qoute input[type="submit"], .request_qoute input[type="reset"] {
  background: #ff7f00;
  border: 0;
  border-radius: 25px;
  color: #111;
  font-weight: 600;
}
.request_qoute input[type="reset"] {
  background: transparent;
  border: 1px solid #000;
}
.request_qoute span.yellows {
  color: #ff7f00;
}
.request_qoute .pup_cotent {
  margin: 0;
}
.request_qoute .modal-header .close {
  right: 12px;
  top: -5px;
  color: #ff7f00;
  opacity: 1;
  background: transparent;
  border: 0;
  font-weight: bold;
  font-size: 30px;
  padding: 0;
}
.request_qoute h3 {
  font-size: 22px;
}
.request_qoute .modal-header {
  border: 0;
}
.request_qoute {
  z-index: 99999999;
}
.getin_touch {
  /*background-image: url(../img/touch_bg.avif);
background-size: cover;
background-attachment: fixed;
*/
background: #ffe8d7;
}
.btn_try_demo {
  margin: 0px auto;
  background: #FF7F00;
  border-radius: 30px;
  height: auto;
  min-width: inherit;
padding: 8px 30px;
  width: auto;
  margin-top: 35px;
  text-transform: uppercase;
  justify-content: center;
}
.btn_try_demo img {
  filter: invert(1);
  opacity: 1;
}
.mb_desk, .d-desktop {
  display: none;
}

.right_modal {
  top: inherit;
  bottom: 0;
  left: inherit;
  right: 0px;
}
.right_modal .modal-dialog {
  margin: 0;
  right: 60px;
  left: inherit;
  bottom: 5px;/*position: absolute;*/
}
.right_modal .modal-dialog {
  margin: 0;
  right: 60px;
  left: inherit;
  bottom: -2px;
  float: right;
  width: 368px;
}

.modal.fade.right_modal .modal-dialog {
  transition: transform .3s ease-out;
  transform: translateX(338%) !important;
}
.modal.right_modal.show .modal-dialog {
  transform: none !important;
}
.right_modal.show {
  display: grid !important;
  justify-content: end;
  align-items: end;
}
.right_modal .modal-dialog .modal-content {
  border-radius: .3rem .3rem 0 0;
}
.sub-menu {
  background-color: #fff;
  z-index: 200;
  padding: 5px 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 2px 5px 10px 0 hsl(0deg 0% 0%/30%);
}
.sub-menu {
  position: absolute;
  left: -19px;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0,20px,0);
  transition: opacity .2s ease-in-out .2s,transform .2s ease-in-out .2s,visibility .2s ease-in-out .2s,left 0s linear .2s;
  pointer-events: none;
}
.header_nav_menu li.dropdown_menu:hover .sub-menu {
  visibility: visible;
  pointer-events: auto;
  transform: translateZ(0);
  opacity: 1;
}
.header_nav_menu li.dropdown_menu .sub-menu li a {
  white-space: nowrap;
  font-size: 14px;
  color: #484848;
  display: block;
  padding: 5px 19px;
  transition: color .2s ease-in-out;
  font-weight: 400;
  opacity: 1;
  background: transparent;
}
.header_nav_menu li.dropdown_menu .sub-menu li {
  margin: 0;display: block;
}
.request_qoute .form-check .form-check-input {
  box-shadow: none !important;
}










/* ===================Responsive==================== */

@media (max-width: 991px) {
  .right_modal .modal-dialog {
  right: 0px;
}
  .request_qoute h3 {
  font-size: 18px;
}
.request_qoute .pup_cotent {
  font-size: 14px;
}
  footer .col-md-8 {
  padding-left: 15px !important;
}
.header.sticky .header_nav_menu {
  align-items: inherit;
}
.header_nav_menu li.request_btn button {
  width: 100%;
}
  .header_top_contact {
  display: none;
}
  .header.sticky .header_nav {
  top: 90px;
}
  .chat_btn i {
  margin-right: 0;
}
  .chat_btn_dsk {
    display: none;
  }
  .fix_chat {
    display: flex;
  }
  footer {
  margin-bottom: 56px;
}
  .mobile_menu {
    display: block;
  }
  .container {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 20px !important;
}
.header {
  position: relative;
}
.header .header_nav {
  position: fixed;
  width: 100% !important;
  right: 0;
  z-index: 99999;
  padding: 40px 0 10px;
  overflow: auto;
  background-color: #faf8f5;
  box-shadow: inset 0 2px 10px 2px rgba(0,0,0,.1);
  transition: all .5s ease 0s;
  top: 110px;height: 100%;
}
.header_nav_menu {
  flex-direction: column;
}
.header_nav_menu li {
  display: block;
  margin-right: 0;
  margin-bottom: 20px;
}
.header_nav_menu li a {
  padding-bottom: 10px;
}
.header_nav_menu {
  padding: 0 23px;
}
.header .header_nav {
  transform: translateY(-402%);
  visibility: hidden;
}
.header .header_nav_open {
transform: translateY(0);
  visibility: visible;
}
.mobile_menu_open span:nth-child(2) {
  transform: translateX(143%);
  visibility: hidden;
}
.mobile_menu_open span:first-child {
  transform: rotate(45deg);
  position: relative;
  top: 8px;
}
.mobile_menu_open span.mb-0 {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
}
.product_content .btn_all {
  display: flex;
}
.product_content .btn_all img {
  filter: invert(1);
}
.product_content .product_list {
  display: none !important;
}
.product_content .btn_all {
  margin-bottom: 20px;
}
.banner .col-lg-6:first-child {
  order: 2;
}
.banner .col-lg-6:last-child {
  order: 1;
}
.mb_desk {
  display: inline-block;
}
.call_btn {
  background: #fff;
  display: inline-block;
  color: #000;
  font-size: 14px;
  border: 1px solid #ff7f00;
  text-decoration: none;
  padding: 0px 0 0px 12px;
  border-radius: 30px;
}
.call_btn strong {
  background: #ff7f00;
  padding: 4px 12px 3px 10px;
  border-radius: 0 11px 11px 0;
  margin-left: 3px;
  color: #ffe8d7;font-weight: 400;
}
.mb-center {
  text-align: center;
}
.call_btn {
  position: relative;
  top: -13px;
}
.sticky .call_btn {
  position: relative;
  top: -8px;
}
.mobile_menu {
  background: #ff7f00;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.d-mobile {display: none;}
.d-desktop {
  display: block;
}

}

@media (max-width: 767px) {
  .right_modal .modal-dialog {
    width: 100%;
  }
  .block-product .col-md-7 .sub-title, .block-product .col-md-7 .block_title, .block-product .col-md-7 p.sec_mt {
  display: none;
}
.submite_form {
  margin-bottom: 30px;
}
  .block-solutions .col-md-4 {
  margin-bottom: 18px;
}
.block-product .col-md-5 {
  min-height: 410px;
  margin-bottom: 100px;
}
.block-product .col-md-7 {
  padding-left: 15px !important;
}
.product_item {
  height: 410px;
width: 340px;
left: 0;
right: 0;
margin: 0px auto;
}
.product_img img {
  height: 410px;
}
.product_content {
  left: 0;
}
.years_industry li strong {
  font-size: 40px;
}
.years_industry li {
  width: 50%;
}
.years_industry li:nth-child(2) {
  border-right: 0;
}
.years_industry li {
  margin-bottom: 50px;
}
.block-potential .block-potential_container {
  max-width: 100%;
}
.block-subscribe .col-md-6 .w-auto {
  width: 100% !important;
}
.block-subscribe .col-md-6 .d-flex {
  flex-wrap: wrap;
}
.block-subscribe .col-md-6 .d-flex input, .block-subscribe .col-md-6 .d-flex button {
  width: 100% !important;
}
.block-subscribe .block_title.text-white.mb-0 {
  margin-bottom: 30px !important;
}
.block_title, .banner h3 {
  font-size: 35px;}
.product_item {
  width: 100%;}
  .banner h1 {
  font-size: 50px;
}
.sportsbook_content h3 {
  font-size: 20px;
}
}

@media (max-width: 580px) {
  .sportsbook_icon {
  width: 60px;
  height: 60px;
}
.btn-product {
  font-size: 14px;
}
}